body {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}
.no-events {
  pointer-events: none;
}
